<!Doctype html>
<html>
<head>
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    {{{body}}}
    <div id="nav">
    <ul>
        <li><a href="http://flip3.engr.oregonstate.edu:6749">Home</a></li>
        <li><a href="http://flip3.engr.oregonstate.edu:6749/psy">Psychology</a></li>
        <li><a href="http://flip3.engr.oregonstate.edu:6749/cs">Computer Science</a></li>
        <li><a href="http://flip3.engr.oregonstate.edu:6749/stats">Research</a></li>
        </ul>
    </div>
    
    <script src="/js/slideShow.js"></script>
     <script src="/js/post.js"></script>
    
    <div id="dwnld">
    <a href="/upload/kyleDixonResume.pdf" download>
    <button id="button2">Download My CV</button>
    </a>
</div>
    
</body>
</html>