<h1>Computer Science</h1>

<p>Currently, I am completing the Computer Science program at the Oregon State University Ecampus (2018-2019)</p>

<p> <a class= "link" href="https://ecampus.oregonstate.edu/online-degrees/undergraduate/computer-science/">Visit the program page</a>
</p>

<div class = "list">
<h2>Languages: Experience Level</h2>
<ul>
    <li>R: 2 yrs </li>
    <li>Matlab: 2 yrs </li>
    <li>Java: 1 yr </li>
    <li>C++: 1 yr </li>
    <li>C: 1/2 yr </li>
    <li>MASM: 1/2 yr </li>
    <li>SQL: 1/2 yr </li>
    <li>JS/HTML/CSS: 1/2 yr </li>
</ul>
</div>