<h1>Kyle Dixon's Personal Site</h1>

<!-- Slide show code adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp-->
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="/images/img1.jpg" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <img src="/images/img2.jpg" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <img src="/images/img3.jpg" style="width:100%" style="transform:rotate(90deg)">
    <div class="text"></div>
  </div>

</div>
<br>

