<h1>Psychology</h1>

<div> <h3>Education:</h3>  <br>
    M.S. Psychology (GPA 4.18) from The University of New Mexico <br>
    B.A. Psychology (GPA 3.75) from Willamette University</div>

<div> <h3>Work Experience:</h3> <br>
    <h5>MENTAL HEALTH SPECIALIST, PATHWAYS TREATMENT CENTER, KALISPELL, MT, October 2013- August 2014</h5>
    <a class= "link2" href="http://www.kalispellregional.org/krmc/behavioral-health/pathways">http://www.kalispellregional.org/krmc/behavioral-health/pathways</a><br>
• Worked with and collaborated as part of a treatment team to provide acute care and counseling for clientele of all ages suffering from chemical<br> dependence and various mental health disorders (schizophrenia, bipolar, borderline, major depressive, etc.).<br>
• Developed and led life-skill, wellness recovery action plans (W.R.A.P.), and other therapeutic groups for both adolescent and adult clientele.<br>
• Coordinated with clientele to create and establish safety and further treatment based after-care plans.<br>
• Received exemplary 6 month review marks for clientele respect and interaction, in particular with the adolescent clientele.<br>
    <br>
    <h5>MENTAL HEALTH ASSOCIATE, LIFEWORKS NW, TIGARD, OR, September 2014- February 2015</h5>
        <a class= "link2" href="http://www.lifeworksnw.org/">http://www.lifeworksnw.org/</a><br>
• Taught and modeled lifeskills at a resident home for young adults dealing with mental health and behavioral disorders<br>
• Created, organized, and ran treatment-based events for residents at site and in the local community.<br>
• Administered daily and PRN medicine to residents.<br>
    <br>
    <h5>TEACHING ASSISTANT, UNIVERSITY OF NEW MEXICO, ALBUQUERQUE, NM, September 2015- May 2017</h5>
    <a class= "link2" href="https://psych.unm.edu/graduate/index.html">https://psych.unm.edu/graduate/index.html</a><br>
• Designed lessons and substituted for professors, in-person teaching classes of 100+ students.<br>
• Oversaw online and electronic aspects of classes of 1000+ students.<br>
• Graded tests, homework, and other materials pertaining to undergraduate psychology courses.<br>
</div>


<div class="POST">
<form id="form" >
    <h3>Do you want to get in contact?</h3>
    Your Email: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="POST" value="example"><br>
    <button type="button" id="button1">Contact Me!</button><br><br>
</form>
</div>
<p id="test"></p>