<h1>Past Research and Statistics</h1>

<div> <h3>Past Research Experience:</h3>  <br>
• Specialized in research involving behavioral and neurological outcomes of drug use. <br>
• Designed and conducted experiments including animal (rodent) behavioral and neurological testing. <br>
• Analyzed and reported data using Excel, MatLab, SPSS, and other statistical programs. <br> <br> </div>

<div>
    <h2>Masters Thesis</h2>
<object class= "box" data="/upload/dixonThesisFinal.pdf" type="application/pdf" alt="Masters Thesis">
    </object>
</div>
<div>
    <h2>Example Presentation</h2>
<object class= "box" data="/upload/DixonPresentationStats.pdf" type="application/pdf" alt="Masters Thesis">
    </object>
</div>